@model List<ExamQs>
@{
    ViewData["Title"] = "DisplayExamTemplate";
    bool isAnswered = ViewBag.Answered;
}

<div class="container mt-3">

    <h2>Exam</h2>
    <p>The exam below contains ten questions, five MCQs and five true and false. Please answer all questions:</p>

        @foreach (var question in Model)
        {
            <h5>@question.Navigation_Question.Question_Text</h5>
            @foreach (var choice in question.Navigation_Question.Navigation_Choices)
            {
                <div class="form-check">
                    @if(isAnswered == false)
                    {
                        <input type="radio" class="form-check-input" id="@choice.Choice_Id" name="questions.@question.Q_Id" value="@choice.Choice_Text">
                        <label class="form-check-label" for="@choice.Choice_Id">@choice.Choice_Text</label>
                }
                else
                {
                    if (choice.Choice_Text == question.Student_Answer)
                    {
                        <input type="radio" class="form-check-input" id="@choice.Choice_Id" name="questions.@question.Q_Id" value="@choice.Choice_Text" checked>
                        if (choice.Choice_Text == question.Navigation_Question.Question_Answer)
                        {
                            <label class="form-check-label bg-success" for="@choice.Choice_Id">@choice.Choice_Text</label>
                        }
                        else
                        {
                            <label class="form-check-label bg-danger" for="@choice.Choice_Id">@choice.Choice_Text</label>
                        }
                    }
                    else
                    {
                        <input type="radio" class="form-check-input" id="@choice.Choice_Id" name="questions.@question.Q_Id" value="@choice.Choice_Text">
                        if (choice.Choice_Text == question.Navigation_Question.Question_Answer)
                        {
                            <label class="form-check-label bg-success" for="@choice.Choice_Id">@choice.Choice_Text</label>
                        }
                        else
                        {
                            <label class="form-check-label" for="@choice.Choice_Id">@choice.Choice_Text</label>
                        }
                    }
                }
                </div>
            }
        }
 
</div>