@model List<ExamQs>
@{
    ViewData["Title"] = "TakeExam";
}

<div class="container mt-3">

    <h2>Exam</h2>
    <p>The exam below contains ten questions, five MCQs and five true and false. Please answer all questions:</p>

    <form method="post">
        @foreach(var question in Model)
        {
            <h5>@question.Navigation_Question.Question_Text</h5>
            @foreach(var choice in question.Navigation_Question.Navigation_Choices)
            {
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="@choice.Choice_Id" name="@question.Q_Id" value="@choice.Choice_Text">
                    <label class="form-check-label" for="@choice.Choice_Id">@choice.Choice_Text</label>
                </div>
            }
        }

        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
</div>


@* 
<div class="form-check">
    <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>
    <label class="form-check-label" for="radio1">Option 1</label>
</div>
<div class="form-check">
    <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">
    <label class="form-check-label" for="radio2">Option 2</label>
</div>
<div class="form-check">
    <input type="radio" class="form-check-input" disabled>
    <label class="form-check-label">Option 3</label>
</div>

 *@