@model InstructorViewModel
@{
    ViewBag.Title = "Instructor Details";
}

<h1>Instructor Details</h1>

<img src="@Model.Instructor_Image" class="card-img-top img-fluid" alt="...">
<div class="card-body">
    <h2 class="card-title">@Model.Instructor_Name</h2>
    <h4 class="card-title">Email: @Model.Instructor_Email</h4>

  
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                Departments
            </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
            <div class="accordion-body">
                <ul>
                    @foreach (var item in Model.Departments)
                    {
                        <li>@item.Department_Name</li>
                    }
                </ul>
            </div>
        </div>
    </div>


    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    Courses
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    <ul>
                        @foreach (var item in Model.Courses)
                        {
                            <li>@item.Course_Name</li>
                        }
                    </ul>
                </div>
            </div>
        </div>



        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    Managed Departments
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                <div class="accordion-body">
                    @if (Model.Managed_Departments != null)
                    {
                        <ul>
                            @foreach (var item in Model.Managed_Departments)
                            {
                                <li>@item.Department_Name</li>
                            }
                        </ul>
                    }
                </div>
            </div>
        </div>
       
    </div>



        
</div>
@* <a class="btn btn-dark mt-3" asp-action="index" asp-controller="Instructor">Go Back</a>
 *@