@model Student
@{
    ViewBag.Title = "Student Details";
}
<h1>Student Details</h1>


<div class="card" >
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">@Model.Navigation_User.User_Email</p>
        <p class="card-text">@Model.Navigation_Department.Navigation_MainDepartment.MainDepartment_Name</p>
        <h5>Courses</h5>
        @foreach(var item in Model.Navigation_StudentCourses)
        {
            <h6 class="bg-danger">Course name</h6><br />
            <p class="card-text">@item.Navigation_Course.Course_Name</p><br />
            <h6 class="bg-danger">Course duration</h6>

            <br />
            <p class="card-text">@item.Navigation_Course.Course_Duration</p><br />
            <h6 class="bg-danger">Course Exam Date</h6>

            <br />
            <p class="card-text">@item.Navigation_Course.Course_Exam_StartDate</p><br />
            <h6 class="bg-danger">Course Grade</h6>

            <br />
            <p class="card-text">@item.Grade</p>
            <h6 class="bg-danger">Course Bouns</h6>

            <br />
            <p class="card-text">@item.Bouns</p>
            <br />
            <h6 class="bg-danger">Instructor feedback</h6>

            <br />
            <p class="card-text">@item.Ins_Feedback</p>
            <h6 class="bg-danger">Student feedback</h6>

            <br />
            <p class="card-text">@item.Std_Feedback</p>
            <p>=======================</p>

        }
        
       
        <a asp-action="Index" asp-for="Student" class="btn btn-primary">Go Back</a>
    </div>
</div>