@model Student
@{
    ViewBag.Title = "Student Details";
}
<h5 class="card-title">@ViewBag.Title</h5>



<table class="table table-striped table-hover"> 
    <tbody>
        <tr>
            <td class="fw-bold">Image</td>
            <td><img src="@Model.Navigation_User.User_Image" alt="Alternate Text" class="img-fluid" style="width:150px;height:150px" /></td>
        </tr>
        <tr> 
            <td class="fw-bold">Name</td>
            <td>@Model.Navigation_User.User_Name</td>
        </tr>
        <tr>
            <td class="fw-bold">Email</td>
            <td>@Model.Navigation_User.User_Email</td>
        </tr>
        <tr>
            <td class="fw-bold">Department</td>
            <td>@Model.Navigation_Department.Navigation_MainDepartment.MainDepartment_Name</td>
        </tr>
    </tbody>
</table>



<h2>Courses</h2>
<table class="table table-striped table-hover">
    <thead>
        <th>Course name</th>
        <th>Course duration</th>
        <th>Course Exam Date</th>
        <th>Course Grade</th>
        <th>Course Bouns</th>
    </thead>
    <tbody>
        @foreach (var item in Model.Navigation_StudentCourses)
        {
            <tr>
                <td>@item.Navigation_Course.Course_Name</td>
                <td>@item.Navigation_Course.Course_Duration</td>
                <td>@item.Navigation_Course.Course_Exam_StartDate</td>
                <td>@item.Grade</td>
                <td>@item.Bonus</td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Index" asp-for="Student" class="btn btn-dark">Go Back</a>






