@model List<Student>
@{
    ViewBag.Title = "Students";
}
<h1>Students</h1>
<table class="table table-hover table-bordered">

    <thead>
        <th>Student Id</th>
        <th>Student Name</th>
        <th>Student Email</th>
        <th>Department Name</th>
        <th>Operations</th>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Student_Id</td>
                <td>@item</td>
                <td>@item.Navigation_User.User_Email</td>
                <td>@item.Navigation_Department.Navigation_MainDepartment.MainDepartment_Name</td>
                <td>
                    <a class="btn btn-info">Edit</a>|
                    <a class="btn btn-info">update</a>|
                    <a class="btn btn-info">Delete</a>|
                    <a class="btn btn-info" asp-action="Details" asp-for="Student" asp-route-id="@item.Student_Id">Details</a>|
                </td>
            </tr>
        }
    </tbody>
</table>