@model List<DepartmentInstructors>
@{
    ViewData["Title"] = "DisplayInstructors";
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Instructor name</th>
            <th>Email</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Navigation_Instructor.Navigation_User.User_Name</td>
                <td>@item.Navigation_Instructor.Navigation_User.User_Email</td>
                <td>
                    <a asp-action="Details" asp-controller="Instructor" asp-route-id="@item.Navigation_Instructor.Instructor_Id" class="btn btn-dark">Details</a>
                    <a asp-action="Edit" asp-controller="Instructor" asp-route-id="@item.Navigation_Instructor.Instructor_Id" class="btn btn-dark">Edit</a>
                    <a asp-action="Delete" asp-controller="User" asp-route-id="@item.Navigation_Instructor.Instructor_Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />

