@model List<Question>

@{
    ViewData["Title"] = "Index";
    Layout = "_Main";
}


    
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Question ID</th>
                <th>Question</th>
                <th>Question Type</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Question_Id</td>
                    <td>@item.Question_Text</td>
                    <td>@item.Navigation_QuestionType.Type</td>
                    <td>
                        <a asp-action="Details" asp-controller="question" asp-route-id="@item.Question_Id" class="btn btn-dark"> Details</a>
                        <a asp-action="Edit" asp-controller="question" asp-route-id="@item.Question_Id" class="btn btn-dark"> Update</a>
                        <a asp-action="Delete" asp-controller="question" onclick="return confirm('are you sure')" asp-route-id="@item.Question_Id" class="btn btn-danger"> Delete</a>
                    </td>
                </tr>
            }

        </tbody>

    </table>

<a asp-action="create" asp-controller="question" class="btn btn-dark mt-3">Add a Question</a>
