@model List<User>
@{
    ViewData["Title"] = "Index";
}

<table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>User Name</th>
                <th>User Email</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.User_Name</td>
                    <td>@item.User_Email</td>
                    <td>
                    <a asp-action="Details" asp-controller="User" asp-route-id="@item.User_Id" class="btn btn-dark">Details</a>
                    <a asp-action="Edit" asp-controller="User" asp-route-id="@item.User_Id" class="btn btn-dark">Edit</a>
                    <a asp-action="Delete" asp-controller="User" asp-route-id="@item.User_Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
</table>
<br />
<a asp-action="Create" asp-controller="User" class="btn btn-dark mt-3">Add a User</a>